{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, []}.

{plugins, [
    {rebar_cmd, {git, "https://github.com/shezarkhani/rebar_cmd.git", {branch, "normal-io-format"}}}
]}.

{commands, [
    {benchmark, "rebar3 as test do compile, cmd benchmark_run"},
    {benchmark_run, "erl -noshell -pa _build/test/lib/*/ebin -pa _build/test/lib/*/test -eval 'templaterl_bench:run()' -eval 'init:stop()'"}
]}.

{profiles, [
    {test, [
        {deps, [
            {timing, {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
        ]}
    ]}
]}.