{erl_opts, [
    native, {hipe, [o3]},
    debug_info
]}.

{edoc_opts, [{doclet, edown_doclet},
             {preprocess, true},
             {stylesheet, ""},
             {image, ""},
  	         {app_default,"http://www.erlang.org/doc/man"},
             {title, "templaterl"}]}.

{deps, []}.

{plugins, [
    {rebar_cmd, "0.2.5"}
]}.

{commands, [
    %% Benchmarking commands
    {benchmark, "rebar3 as test do compile, cmd benchmark_run"},
    {benchmark_run, "erl -noshell -pa _build/test/lib/*/ebin -pa _build/test/lib/*/test -eval 'templaterl_bench:run()' -eval 'init:stop()'"},

    %% Profiling commands
    {profile, "rebar3 as test do compile, cmd profile_run, cmd profile_analyze_gen, cmd profile_analyze"},
    {profile_run, "erl -noshell -pa _build/test/lib/*/ebin -pa _build/test/lib/*/test -eval 'templaterl_profile:run()' -eval 'init:stop()'"},
    {profile_analyze_gen, "./_build/test/lib/fprofx/erlgrindx -p fprofx.analysis"},
    {profile_analyze, "qcachegrind fprofx.cgrind"}
]}.

{profiles, [
    {test, [
        {deps, [
            {fprofx, {git, "https://github.com/ransomr/fprofx.git", {branch, "master"}}},
            {timing, {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
        ]}
    ]},
    {edoc, [
        {deps, [
            {edown, '.*', {git, "git://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
        ]}
    ]}
]}.